*{
    margin: 0%;
}
.header{
    background-color: rgb(255, 173, 42);
    color: brown;
    text-align: center;
    font-style: italic;
}


.box{
    border-width: 5px;
    border-color: rgb(255, 173, 42) ;
    border-style: solid;
    width: 220px;
    display: inline-block;
}
.box img{
    width: 220px;
    height: 220px;
}
.products{
    text-align: center;
    margin-top: 50px;
}
.box button{
    background-color: rgb(255, 173, 42);
    cursor: pointer;
}
button:hover{
    background-color: brown;
}
