*{
    margin: 0%;
}
.header{
    background-color: rgb(255, 173, 42);
    color: brown;
    text-align: center;
    font-style: italic;
}
.search{
  margin-top: 50px;
  margin-left: 25%;
  
}
.search input{
    width: 60%;
    padding: 15px;
    background-color: brown;
}
.search input:hover{
    background-color:rgb(255, 173, 42) ;
}
.box{
    border-width: 5px;
    border-color: rgb(255, 173, 42) ;
    border-style: solid;
    width: 220px;
    display: inline-block;
}
.box img{
    width: 220px;
    height: 220px;
}
.products{
    text-align: center;
    margin-top: 50px;
}
.box button{
    background-color: rgb(255, 173, 42);
    cursor: pointer;
}
button:hover{
    background-color: brown;
}
.about{
    padding: 10px;
}
.contact{
    background-color:rgb(255, 173, 42) ;
    padding: 10px;
}